.banner-box{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    
    background-image: url('../img/banner-img.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 352px;
}

.banner-box-items{
    display: flex;
    flex-flow: column nowrap;
    color: var(--color-white);
}

.title-banner{
    font-weight: 600;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-shadow:
    1px 1px 5px #00000080,
    -1px 1px 5px #00000080,
    1px -1px 5px #00000080,
    -1px -1px 5px #00000080;
}

.subtitle-banner{
    font-weight: 600;
    font-size: 1.2rem;
    margin: .5rem 0;
    text-shadow:
    1px 1px 5px #00000080,
    -1px 1px 5px #00000080,
    1px -1px 5px #00000080,
    -1px -1px 5px #00000080;
}

.banner-button{
    padding: .8rem 1rem;
    background-color: var(--color-blue);
    color: var(--color-white);
    border: none;
    border-radius: .2rem;
    box-shadow: 0 0 10px #00000080;
    outline: none;
    width: 8rem;
    text-align: center;
}

.banner-button:hover{
    background-color: var(--color-dark-blue);
    cursor: pointer;
}
@media screen and (max-width: 768px){
    .container{
        margin: 0;
        width: 100%;
    }
    .banner-box-items{
        margin: 0;
    }          
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .banner-box-items{
        width: 100%;
    }
}