.footer{
    background-color: var(--color-light-blue);
}

.footer-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 2rem 0;
}

.footer-logo-img{
    height: 3rem;
}

.footer-list{
    display: flex;
    flex-flow: column nowrap;
    gap: .8rem;
}

.footer-item-list > a{
    color: #000;
    font-size: .8rem;
}

.footer-item-list > a:hover{
    color: var(--color-blue);
}

.footer-form-title{
    margin-bottom: .5rem;
}

.footer-form-box{
    width: 50%;
}

.footer-form{
    display: flex;
    flex-flow: column nowrap;
}

.footer-form-label{
    margin-bottom: 1rem;
    background-color: #FFF;
    border-radius: 5px;
    padding: .5rem;
    font-size: .8rem;
    color: #808080;
}

.footer-form-input{
    background-color: transparent;
    outline: none;
    border: none;
    resize: none;
    width: 100%;
}

.footer-form-submit{
    padding: .5rem .8rem;
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: .2rem;
    border: none;
    outline: none;
    width: 9rem;
}

.footer-form-submit:hover{
    background-color: var(--color-dark-blue);
    cursor: pointer;
}

.footer-dev{
    display: flex;
    justify-content: center;
    background-color: var(--color-white);
    box-shadow: 0 0 5px #00000060;
    padding: 1rem 0;
    font-size: .8rem;
    font-weight: 500;
}

.footer-dev a:hover{
    color: var(--color-blue);
    cursor: pointer;
    color: slateblue;
}

.footer-dev-name{
    width: 80%;
    text-align: center;
}

.footer-dev-links{
    width:20%;

}

.fa-brands{
    font-size: 20px;
    padding: 3px;
}
@media screen and (max-width: 768px){
    .footer-logo-img{
        display: none;
    }
    .footer-list{
        margin-top: 20px;
    }
    .footer-item-list{
        margin-left: 0px;
        margin-top: 5px;
    }
    .footer-form-box{
        margin-right: 20px;
        margin-left: 10px;
    }
    .footer-dev-name{
        text-align: inherit;
        margin-left: 30px;
    }
    .footer-dev-links{
        display: contents;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    
}