.section{
    margin: 3rem auto;
}

.section-title-box{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding-bottom: .5rem ;
    border-bottom: 1px solid var(--color-grey);
}

.section-title{
    font-weight: 600;
    font-size: 2rem;
}

.section-mas{
    color: var(--color-blue);
    transition: .2s;
}

.section-mas:hover{
    color: var(--color-dark-blue);
}

.section-items{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1.47rem;
    padding: 1rem;
    overflow-x: hidden;
}

.section-product{
    background-color: #FFF;
    box-shadow: 0 0 5px #00000040;
    border-radius: .2rem;
    color: #000;
    transition: 0.2s;
}

.section-product:hover{
    box-shadow: 0 0 10px #00000080;
    transform: scale(1.025);
}

.section-img{
    width: 175px;
    height: 185px /* 195.19px; 174px*/
}

.section-product-name{
    padding: 1rem .5rem .5rem .5rem;
}

.section-product-price{
    padding: 0rem .5rem .2rem .5rem;
    font-weight: 500;
    font-size: 1.2rem;
}

.section-product-detail{
    color: var(--color-blue);
    font-size: .9rem;
    padding: .5rem .5rem 1rem .5rem;
}

.fa-solid{
    margin-left: 5px;
}
